.login{
    display: flex;
    text-align: center;
    .log-in{
        font-weight: 800;
        text-align: center;
        font-size: larger;
        margin-left: auto;
        margin-right: auto;
    }
}

.line2{
    display: flex;
    text-align: center;
    .line2text{
        padding-right: 1cm;
        padding-left: 3mm;
    }
}